<h3>Showing Brew: {{id}} - {{name}}</h3>


<p>{{link-to 'Edit' 'brews.edit' this class="btn btn-primary"}} <button {{action 'destroyRecord' this}} class="btn btn-danger">Destroy</button></p>

<ul>
  <li class='brew-name'>Name: {{name}}</li>
</ul>
